@page
@model EverydayMuseApp.Pages.IdeasModel

@{
    ViewData["Title"] = "Inspiration Heaven";
}

<h2>Tvoje inspirační nebe</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        <label form="title">Název:</label>
        <input type="text" id="title" name="title" />
    </div>
    <div> 
        <label for="description">Popis:</label> 
        <textarea id="description" name="description"></textarea>
    </div> 
     <div> 
        <label for="image">Obrázek:</label> 
        <input type="file" id="image" name="image" />
     </div>
     <button type="submit">Přidat nápad</button>
</form>
