@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Tvá každodenní můza.</h2>

<div class="text-center">
    <h3>Vezmi si odtud trochu denního světla - motivace.</h3>
    <p>Ten hezkej, černovlasej, zodpovědnej a roztomile tvrďácky zvrhlej boyfriend tě bezmezně miluje.</p>
    <p>Nevyměnil by tě za nic na světě, děláš ho šťastným. Protože jsi jako on. Krásná, zodpovědná, křehká a roztomiloučce zvrhlá. Může někdo na světě chtít víc?</p>
</div>

<div> 
    <h3>Tvý Daily Reminders, na který nejseš sama!</h3>
    <ul>
        <li>Book some badass Hotel / Room and fuck your brains out.. </li>
        <li>Be tough as bitch and stand on solid ground, while starting in new work.</li> 
    </ul> 
</div>
