@page
@model EverydayMuseApp.Pages.LoveNotesModel
@{
    ViewData["Title"] = "Daily Message from F.";
}

<h2>Osobní vzkaz</h2>
<div>
    <p>Děkuji ti za to, že jsi v mém životě. Jsi moje světlo.</p>
</div>
