@page
@model EverydayMuseApp.Pages.WorkoutJournalModel
@{
    @ViewData["Title"]
 = "Workout Journal";
}

<h2>Tvůj Workout Journal</h2>
<form method="post">
    <div>
        <label for="exercise">Název tréninku:</label>
        <input type="text" id="exercise" name="exercise" required />
    </div>
    <div>
        <label for="date">Datum a čas:</label>
        <input type="date" id="date" name="date" required />
    </div>
    <div>
        <label for="notes">Poznámky, emoce, postřehy či nálady:</label>
        <textarea id="notes" name="notes"></textarea>
    </div>

    <button type="submit">Přidat záznam</button>
</form>

@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

