<h1>Přidat novou poznámku</h1>

<form asp-action="Create" method="post">
    <div>
        <label>Titulek</label>
        <input asp-for="Title" />
    </div>
    <div>
        <label>Obsah</label>
        <textarea asp-for="Content"></textarea>
    </div>
    <div>
        <label>Datum</label>
        <input asp-for="Date" type="date" />
    </div>
    <button type="submit">Uložit</button>
</form>
